body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* header */
.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}

.hlogo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: row;
    gap: 20px;
}

/* section one */
.one {
    background-color:#1F2937;
    color: #F9FAF8;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.ones {
    display: flex;
    flex-flow: column wrap;
    width: 450px;
    height: auto;
}

button {
    width: 120px; 
    height: 40px; 
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color:#F9FAF8;
}

.tens {
    height: 200px;
    width: 450px;
    padding: 20px;
    background: #828488;
}

/* section two */
.two {
    background-color:#ffffff;
    color: #1f2937;
    height: 450px; 
    text-align: center;
}

.random {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 50px;
}

.tile {
    display: flex;
    justify-content: center;
    max-width: 100px;
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    background: #ffffff;
    border-color: #3882f6;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

/* three */
.three {
    background-color: #E5E7EB;
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style:italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding: 0;
}